<html>
    <head> 
        <link th:href="@{/form-stylesheet.css}" rel="stylesheet"> 
    </head>    
    <body>
        <div class="topnav">
            <a class="active" th:href="@{/}" >Form</a>
            <a th:href="@{/inventory}">Inventory</a>
        </div>
        <div class="container">    
            <h2> Movie Rating System </h2>
            <form method="post" th:object="${item}" th:action="@{/submitItem}">
                <select class="select" th:field="*{genre}">
                    <option style="color:rgb(84, 150, 194)" value="">Choose Genre</option>
                    <option th:each="genres: ${genres}" th:text="${genre}" th:value="${genre}"> Placeholder </option>
                </select>
                <input type="text" placeholder="Name" th:field="*{name}">
                <select class="select" th:field="*{rating}">
                    <option style="color:rgb(84, 150, 194)" value="">Choose Rating</option>
                    <option th:each="ratings: ${ratings}" th:text="${rating}" th:value="${rating}"> Placeholder </option>
                </select>
                <h4>Order Date</h4>
                <input type="date" style="color:rgb(96, 167, 191)" th:field="*{date}">
                <input type="hidden" th:field="*{id}">
                <input type="submit" value="Submit Item">
            </form>
        </div>      
    </body>
</html>