<html>
    <head> 
        <link th:href="@{/inventory-stylesheet.css}" rel="stylesheet"> 
    </head>    
    <body>
    
        <div class="topnav">
            <a  th:href="@{/}" >Form</a>
            <a class="active" th:href="@{/inventory}">Inventory</a>
        </div>

        <div class="alert success" th:if="${status} == 'success'">
            <strong> You successfully submited a movie! </strong> 
        </div>

        <div class="alert" th:if="${status} == 'failed'">
            <strong > You failed to submit a movie. </strong> 
       </div>

        <div class="container">
           <table>
              <tr class="head">
                 <th>Genre</th>
                 <th>Name</th>
                 <th>Rating</th>
                 <th>Release Date</th>
                 <th> </th>
              </tr>
              <tr th:each="item: ${items}">
                 <td th:text="${movie.genre}">Furniture</th>
                 <td th:text="${movie.name}">Table</td>
                 <td th:text="${#numbers.formatCurrency(movie.rating)}">2342.34</td>
                 <td type="date" th:text="${#dates.format(movie.date, 'yyyy-MM-dd')}">1996-02-02</td>
                 <td>
                    <a role="button" style="color:white; background-color: #263238" class="table-button" th:href="@{/(id = ${movie.id})}">Update</a>
                 </td>
              </tr>
           </table>
        </div>
   </body>
</html>
